


body{
  background-image: url("../images/marble-2362262_1280.jpg");

  height: 100vh;


}


.jumbotron{ opacity: .65;}

.card{  opacity: 0.75;}

img {
  color: white;
  width: 200px;
  margin-right: 20px;
}

  #P2WL,#P1WL,#idHolder1{ color:rgb(255, 47, 57); font-size: 30px;}






.player{ width: 100%;}


#rockImg{ height: 150px;    }

img {
 
  padding: 10px 10px;
  
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:bisque;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

img:hover {background-color:burlywood}

img:active {
  background-color: gainsboro;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}