


body{
  background-image: url("../images/marble-2362262_1280.jpg");

  height: 100vh;


}


.jumbotron{ opacity: .75; 
  border-radius: 15px;
  height: 285px;
}

.card{  opacity: 0.85;
      border-radius: 15px;}

img {
  color: rgb(63, 53, 53);
  width: 200px;
  margin-right: 20px;
  opacity: 0.05;

}

  #P2WL,#P1WL,#idHolder1{ color:rgb(255, 47, 57); font-size: 30px;}



  #playerChat {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 175px;
   
    
}


.player{ width: 100%;}


#rockImg{ height: 150px;    }

img {
 
  padding: 10px 10px;
  
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:bisque;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

img:hover {background-color:burlywood}

img:active {
  background-color: gainsboro;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}